<div class="nav-container">
  <div class="title-container">
    <div class="hamburger-menu">
      <div class="ham-icon"></div>
    </div>
    <div class="nav-logo"><div class="logo"></div></div>
    <div class="nav-title"><h3>G-Fantasies</h3></div>
    <div class="translate-btn" (click)="toggleTamil()">
        <p *ngIf="!translateTamil">En</p>
        <p *ngIf="translateTamil">த</p>
    </div>
    <div class="disclaimer-btn">
      <img src="./warning.png" alt="disclaimer" />
    </div>
  </div>
</div>
